;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "orgmode")))

(setq prj-tools
      '(("Make" "make" "f9")
        ("Clean" "make clean" "C-f9")
        ("Run" "echo run what" "f8")
        ("Stop" "-e eproject-killtool" "C-f8")
        ("---")
        ("Configure" "./configure")
        ("---")
        ("Explore Project" "nautilus --browser `pwd` &")
        ("XTerm In Project" "xterm &")))

(setq prj-files
      '(("OrgToHtml.hx" 1 36)
        ("/home/blackdog/Projects/node/js/Node.hx" 233 233)
        ("../cloudshift/orgmode/Org.hx" 118 159)
        ("../../core/cloudshift/Mixin.hx" 307 355)
        ("/home/blackdog/Projects/cloudshift.cl/content/front.org" 66 67)
        ("build.hxml" 1 1)
        ("../cloudshift/orgmode/Lexer.hx" 272 300)))

(setq prj-curfile "../cloudshift/orgmode/Org.hx")

(setq prj-functions nil)

